@page {
    size: A4 landscape;
    margin: 10px 1px  10px 1px;
    @bottom-left{
        font-size: 7px;
        content: counter(page) "/" counter(pages);
    }
}


html * {
    font-size: 8px;
}

table#data {
  border: 1px solid black;
  border-collapse: collapse;
}
#data tr {
  border: 1px solid black;
}

#data th {
    background-color: #ffff66;
}

tr.loop1 {
    background-color: gainsboro;
}

table#header {
    width: 40%;
}

table#signature {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 10px;
}
#signature tr {
  border: 1px solid black;
}
#signature td {
  border: 1px solid black;
  height: 20px;
  text-align: center;
}
#signature th {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

h1 {
    text-align: center;
    font-size: 10px;
}

.blue {
    color: blue;
}
.purple {
    color: purple;
}
.green {
    color: green;
}
.red {
    color: red;
}

.img {
    height: 50px;
}
