<?xml version="1.0" encoding="utf-8"?>
<openerp>
	<data>
	
		<!-- Parent menu item -->
		<menuitem name="Synchronization Access Rights" id="field_access_rule_sync_access_rights" parent="base.menu_security" />

		<!-- Field Access Rule List -->
		<record id="field_access_rules_list" model="ir.actions.act_window">
	        <field name="name">Field Access Rules</field>
	        <field name="res_model">msf_access_rights.field_access_rule</field>
	        <field name="view_mode">tree,form</field>
    	</record>

		<menuitem name="Field Access Rules" action="field_access_rules_list" id="field_access_rule_list_menu" parent="field_access_rule_sync_access_rights" sequence="0" />

		<!-- Field Access Rule Line List -->
		<record id="field_access_rule_line_list" model="ir.actions.act_window">
	        <field name="name">Field Access Rule Lines</field>
	        <field name="res_model">msf_access_rights.field_access_rule_line</field>
	        <field name="view_mode">tree,form</field>
	        <field name="view_id" ref="field_access_rule_full_tree_view"/>
    	</record>

		<menuitem name="Field Access Rule Lines" action="field_access_rule_line_list" id="field_access_rule_line_list_menu" parent="field_access_rule_sync_access_rights" sequence="0" />

	</data>
</openerp>

